body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
/*début scss header */
.header-contact {
  display: flex;
  flex-direction: row;
  border: 1px grey solid;
  margin-top: 0;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 1px grey solid;
    height:40px;

    p {
      color: grey;
      padding-left: 5px;
      font-size: 10px;
    }
  }
}
.phone {
  margin-left: 12%;
  width: 10%;
  padding-left: 15px;
}
.envelope {
  width: 50%;
  padding-left: 15px;
}
.home {
  width:28%;
  padding-left: 15px;
}
nav {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  img {
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 40px;
    margin-left: 155px;
    margin-right: 65px;
    }
  .lien-nav {
    width: 50%;
    a {
    text-decoration: none;
    color: grey;
    padding-left: 10px;
    padding-right: 25px;
    font-size: 13px;
    text-transform: uppercase;
      }
    }
    .button-header {
  background: #002bff;
  background-image: -webkit-linear-gradient(top, #002bff, #2b3db8);
  background-image: -moz-linear-gradient(top, #002bff, #2b3db8);
  background-image: -ms-linear-gradient(top, #002bff, #2b3db8);
  background-image: -o-linear-gradient(top, #002bff, #2b3db8);
  background-image: linear-gradient(to bottom, #002bff, #2b3db8);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 10px;
  padding: 12px 20px 12px 20px;
  text-decoration: none;
    }
}
/*fin header*/

/*début footer*/
.container10 {
  display: flex;
  flex-direction: row;
  background-color: #1A1D1F;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 70px;

  .logo-footer {
    display: flex;
    flex-direction: column;
    width: 16%;
    margin-left:12%;
    color: grey;
  }
  img {
    width: 30px;
    height: 35px;
  }
  h3 {
    padding-bottom: 20px;
    margin-top: 0px;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
  }

  .recent {
    margin-left: 20px;
    margin-right: 20px;
    color: white;

    h5 {
      font-size: 15px;
      border-bottom: 1px white solid;
      padding-bottom: 7px;
      margin-bottom: 5px;
      margin-top: 10px;
    }
    p {
      color:grey;
      margin-top: 5px;
    }
  }
  .useful {
    margin-right: 130px;
    ul {
      padding: 0;
      li {
        list-style-type: none;
        color: grey;
        padding-bottom: 17px;
      }
    }
  }
  .contact {
    h4 {
      color: white;
    }
    p {
      color: grey;
    }
  }
}
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #131516;
  color: grey;
  p {
    width: 70%;
    text-align: center;
    font-size: 15px;
  }
  span {
    color: white;
  }
  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 15%;
    margin-right: 10%;
  }
}
/*fin scss footer*/
/*début première section*/
.section1 {
  background-image: url(image/images/3214321413.jpg);
  width: 100%;
  height: 100%;
  h1 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    }
  }
/*fin scss première section*/
/*début scss deuxième section*/
.section2 {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
  margin-left: 10%;
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
  p {
    font-size: 15px;
    padding-bottom: 10px;
  }
  a {
    text-decoration: none;
    color: blue;
    text-transform: uppercase;
    font-size: 13px;
  }
  .stylish {
    width: 20%;
  }
  .support {
    width: 20%;
  }
  .time {
    width: 20%;
  }
  }
  /*fin scss deuxième section*/
  /*début scss troisième section*/
.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
    h2 {
      font-size: 35px;
      margin-bottom: 15px;
      padding-top: 40px;
      font-weight: normal;
    }
  p {
    width: 400px;
    text-align: center;
    margin-bottom: 30px;
  }
    .button-setup {
      -webkit-border-radius: 6;
      -moz-border-radius: 6;
      border-radius: 6px;
      font-family: Arial;
      color: #ffffff;
      font-size: 10px;
      background: #4734d9;
      padding: 12px 15px 12px 15px;
      text-decoration: none;
      width: 150px;
      text-align: center;
    }
    img {
      margin-top: 40px;
    }
}
/*fin scss troisième section*/
/*début scss quatrième section*/
.section4 {
  display: flex;
  flex-direction: row;
  color: white;
  height: 700px;

    h5 {
      font-size: 20px;
      font-weight: normal;
      margin-bottom: 5px;
      padding-top: 140px;
    }
    h1 {
      font-size: 35px;
      margin-top: 0px;
      margin-bottom: 40px;
      font-weight: bold;
    }

  .section4-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: blue;
    padding-left: 120px;

    p {
      color: grey;
    }

    .button-explore {
      -webkit-border-radius: 5;
      -moz-border-radius: 5;
      border-radius: 5px;
      border: 2px white solid;
      font-family: Arial;
      color: #ffffff;
      font-size: 10px;
      background: #3252d1;
      padding: 13px 22px 13px 22px;
      text-decoration: none;
      width: 130px;
      text-align: center;
      margin-top: 40px;
    }
  }
  .section4-right {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 50%;
    padding-left: 120px;

      .progress {
        width:80%;
      }
  }
}
/*fin scss quatrième section*/
/*début scss cinquième section*/
 .section5 {
   text-align: center;
   h2 {
     color: grey;
     font-size: 18px;
     margin-top: 70px;
   }
   h1 {
     font-size: 35px;
     font-weight: bold;
     padding-bottom: 50px;
   }
   .portfolio {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-around;
     margin-left: 200px;
     margin-right: 200px;
     margin-bottom: 80px;

     h6 {
       font-weight: bold;
       padding-top: 10px;
       margin-bottom: 0px;
     }
     p {
       color: grey;
       font-size: 15px;
     }
     div {
       box-shadow: 2px 2px grey;
       margin-bottom: 15px;
     }

     img {
       width: 280px;
       height: 200px;
     }
   }
 }
/*fin scss cinquième section*/
/*début scss sixième section*/
.section6 {
  text-align: center;
  h2 {
    color: grey;
    font-size: 18px;
    margin-top: 70px;
  }
  h1 {
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 50px;
  }
  .features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: space-between;

    div {
      width: 250px;
      height: 150px;
      display: flex;
      flex-direction: column;

      h3 {
        font-size: 20px;
        margin-bottom: 5px;
        font-weight: bold;
      }
      p {
        font-size: 15px;
        color: grey;
      }
    }
  }
}
